<section class="mapbox">
    <div class="row">
        <h2>Grain Ops - Location Tracking & ETA System</h2>
        <div id="map"></div>
    </div>
</section>

<section class="controls">
    <div class="row">
        <button onclick="location.reload();" type="button" class="btn btn-primary btn-lg" id="reset-orders">Generate Multiple Order Delivery</button>
    </div>
    
    <br>

    <div class="row">
        <div class="col-sm-9">
            <h4>Current Delivery List: </h4>
            <br>
            <%= render partial: "orders", locals: { locations: @locations }%>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-lg btn-block" id="polygraph">Plot Polyline Graph</button>
            <p>Map Legends:</p>
            <ul>
                <li><img src="<%= asset_path "start-marker-icon.png" %>" alt="Start Marker"> Start Marker</li>
                <li><img src="<%= asset_path "mid-marker-icon.png" %>" alt="Mid Marker">Mid Marker</li>
                <li><img src="<%= asset_path "end-marker-icon.png" %>" alt="End Marker">End Marker</li>
            </ul>
        </div>
    </div>
</section>