// Place all the styles related to the Tracker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    height: 550px;
    width: 100%;
}

section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.status-btn {
    width: 155px;
}